---
title: "Computer Science Graduate"
---

<!DOCTYPE html>
<html lang = "en">
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include navbar.html %}
        <div class="container mt-5 overflow-hidden bg-light" id = "me-container">
            <div class = "row">
                <div class = "col-md-6">
                    <img src = "{{"/assets/img/cerne-headshot-transparent.png" | relative_url }}" class = "img-fluid p-2" alt = "Christopher Cerne Headshot">
                </div>
                <div class = "col-md-6 p-5">
                    <h5 class = "display-5">Just a small brief on</h5>
                    <h1 class = "display-5 font-weight-bold">CHRISTOPHER CERNE</h1>
                    <p class = "lead">
                        Computer science graduate. Cyber security nerd. Published journalist.
                    </p>

                    <a class = "btn btn-primary btn-lg" href = "https://linkedin.com/in/cernec1999" role = "button"  target = "_blank">Connect</a>
                </div>
            </div>
        </div>

        <div class = "container">
            <h1 class = "mt-5">About</h1>
            <p class = "lead">I am a hard-working, enthusiastic and self-directed college graduate eager to add value to a company while expanding my knowledge of computer science and engineering.</p>
        </div>

        <div class = "container">
            <h1 class = "mt-5 mb-5">Interests</h1>
            <div class = "row interests">
                <div class="col-lg-4">
                    <i class="fas fa-laptop-code fa-8x"></i>
                    <h2>Computer Science</h2>
                    <p>I have had passions in Computer Science since I was in grade school. Since then, I've created my own websites, won programming competitions, and graduated with a B.S. in Computer Science at Virginia Tech.</p>
                </div>

                <div class="col-lg-4">
                    <i class="fas fa-lock fa-8x"></i>
                    <h2>Cyber Security</h2>
                    <p>I am specifically interested in offensive security research. I joined the Virginia Tech Cyber Security club and learned the basics of vulnerability research. Since joining, I've found <a href = "{{"/pages/trophies.html" | relative_url }}">numerous 0-day vulnerabilities</a> in embedded devices.</p>
                </div>

                <div class="col-lg-4">
                    <i class="fas fa-hiking fa-8x"></i>
                    <h2>Outdoors</h2>
                    <p>I am passionate about the environment and the outdoors. I love going on hikes and bike rides around the Blacksburg area. More recently, I've gotten into caving after joining the <a class = "text-primary" href = "https://vpicave.club"  target = "_blank">VPI Cave Club</a>. I currently run the website for this club.</p>
                </div>

            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
