<div class = "d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 border-bottom shadow-sm cerne-contrast">
    <h5 class = "my-0 mr-md-auto font-weight-normal">cerne.xyz</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 cerne-navbar-link" href="{{"/pages/contact.html" | relative_url }}">Contact</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 cerne-navbar-link" href="{{"/pages/trophies.html" | relative_url }}">Bug Reports</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 cerne-navbar-link" href="{{"/pages/certs.html" | relative_url }}">Certifications</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 cerne-navbar-link" href="{{"/pages/portfolio.html" | relative_url }}">Writing Portfolio</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class = "p-2 cerne-navbar-link" href = "{{ "/assets/res/" | append: site.resume | relative_url }}" target = "_blank">Resume</a>
    </nav>
    <a class="btn btn-outline-primary" href="{{"/" | relative_url }}">Home</a>
</div>