---
title: Portfolio
---
<!DOCTYPE html>
<html lang = "en">
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include navbar.html %}
        <div class = "container">
            <h1 class = "mt-5">Written Work</h1>
            <p class = "lead">These are articles that I've independently published throughout my semesters at Virginia Tech.</p>
        </div>

        <div class = "container">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Cyber Security</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="https://www.uscybersecurity.net/csmag/security-for-college-freshmen/">Security for College Freshmen</a>
                    </h3>
                    <div class="mb-1 text-muted">Summer 2017</div>
                    <p class="card-text mb-auto">I wrote an article in the United States Cyber Security Magazine touching on the importance of incoming college students to practice safe cybersecurity habits. This includes evading phishing attacks, enabling two-factor authentication and only installing safe files. I also talk about privacy, and the fact that nothing is truly erased on the Internet.</p>
                    <br />
                    <a href="https://www.uscybersecurity.net/csmag/security-for-college-freshmen/"><i class="fas fa-external-link-alt"></i> Read</a>
                </div>
            </div>

            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Cyber Security</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="https://medium.com/@cernec1999/keep-your-insta-safe-teens-use-a-password-manager-218c25d04e53">Keep Your Insta Safe, Teens: Use A Password Manager</a>
                    </h3>
                    <div class="mb-1 text-muted">Fall 2019</div>
                    <p class="card-text mb-auto">Have you ever had your account hacked? I'm a cyber security student and even I've been a victim of account theft: until I started using a password manager.</p>
                    <br />
                    <a href="https://medium.com/@cernec1999/keep-your-insta-safe-teens-use-a-password-manager-218c25d04e53"><i class="fas fa-external-link-alt"></i> Read</a>
                </div>
            </div>

            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Data Privacy</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="https://medium.com/@cernec1999/nothings-private-how-the-government-can-see-your-frisky-texts-and-photos-9f535a076aff">Nothing’s Private: How The Government Can See Your Frisky Texts and Photos</a>
                    </h3>
                    <div class="mb-1 text-muted">Fall 2019</div>
                    <p class="card-text mb-auto">I independently published an article on Medium about how foreign governments and hackers can use 0-day vulnerabilities to monitor activities of citizens.</p>
                    <br />
                    <a href="https://medium.com/@cernec1999/nothings-private-how-the-government-can-see-your-frisky-texts-and-photos-9f535a076aff"><i class="fas fa-external-link-alt"></i> Read</a>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
