<!DOCTYPE html>
<html lang = "en">
    <head>
        {% include head.html %}
    </head>

    <body class = "cerne-scheme">
        {% include navbar.html %}

        <div class = "container">
            <h1 class = "mt-5">{{ page.cveid }}</h1>
            {{ content }}
        </div>

        <!-- Silly hack to add table class to table -->
        <!-- Will remove once adding bootstrap to npm -->
        <script>
        window.onload = function() {
            var tables = document.getElementsByTagName("table"),
                len = tables !== null ? tables.length : 0,
                i = 0;
            for (i; i < len; i++) {
                tables[i].className += " table"; 
            }
}
        </script>

        {% include footer.html %}
    </body>
</html>
